<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/static/js/jquery-3.4.1.min.js"></script>
    <script src="/static/js/jquery-1.9.1.js"></script>
    <link rel="stylesheet" href="/static/css/zhangqian.css" />
    <title>历史</title>
 
</head>
<body>
 <div class="bg">
      <div class="content">
           <div class="head" style="height: 68px; padding-left: 1100px">
            <div class="dropdown">
              <button class="dropbtn"><a href="/history">丝路纪元</a></button>
              <div class="dropdown-content">
                <a href="/history">发展脉络</a>
                <a href="/api1">趣味答题</a>
              </div>
        </div>
         <div class="dropdown">
              <button class="dropbtn"><a href="/all">伙伴风采</a></button>
              <div class="dropdown-content">
                <a href="/all">时空演化</a>
                <a href="/photos">联绸盛图</a>
              </div>
        </div>
        <div class="dropdown">
              <button class="dropbtn"><a href="/eco">数绘经济</a></button>
              <div class="dropdown-content">
                <a href="/eco">经济数据</a>
                <a href="/second">伙伴经济</a>
              </div>
        </div>
        <div class="dropdown">
              <button class="dropbtn"><a href="/project">工程汇聚</a></button>
              <div class="dropdown-content">
                  <a href="/project">项目解析</a>
                  <a href="/project3D">3D图谱</a>
                  <a href="/question">智能问答</a>
              </div>
        </div>
           </div>
           <div class="container">
                <div class="left-group">
                    <ul class="j-list-block">
                        <li>
                            <div><span>《“一带一路”建设海上合作设想》
                            </span></div>
                            <div><span>2017年6月
                            </span>
                                <p>以政策沟通、设施联通、贸易畅通、资金融通、民心相通为主要内容，坚持共商、共建、共享原则，积极推动“一带一路”建设，得到国际社会的广泛关注和积极回应。
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="mid-group">
                    <video width="1100px" height="500px" controls>
                        <source src="../../../static/videos/7.mp4" type="video/mp4">
                        您的浏览器不支持视频播放。
                      </video>
                </div>
                <div class="right-group">
                    <ul class="j-list-block">
                        <li>
                            <div><span>《“一带一路”建设海上合作设想》
                            </span></div>
                            <div><span>2017年6月</span>
                                <p>围绕构建互利共赢的蓝色伙伴关系，创新合作模式，搭建合作平台，共同制定若干行动计划，实施一批具有示范性、带动性的合作项目，共走绿色发展之路，共创依海繁荣之路，共筑安全保障之路，共建智慧创新之路，共谋合作治理之路。
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
           </div>

           <div class="x-title-block">
            <p style="color: aliceblue;">第十七阶段--“一带一路”建设走入国际视野</p>
        </div>

           <div class="people-block">
            <a href=https://www.gov.cn/xinwen/2017-06/20/content_5203985.htm><img src="../../../static/img/17-1.png" class="people-image" alt="Image 1"></a>
            <a href=https://www.gov.cn/xinwen/2017-06/20/content_5203985.htm><img src="../../../static/img/17-2.jpg" class="people-image" alt="Image 2"></a>
            <a href=https://www.gov.cn/xinwen/2017-06/20/content_5203985.htm><img src="../../../static/img/17-4.jpg" class="people-image" alt="Image 3"></a>
            <a href=https://www.gov.cn/xinwen/2017-06/20/content_5203985.htm><img src="../../../static/img/17-3.jpg" class="people-image" alt="Image 4"></a>
            <a href=https://www.gov.cn/xinwen/2017-06/20/content_5203985.htm><img src="../../../static/img/17-5.jpg" class="people-image" alt="Image 5"></a>
           </div>
      </div>
    </div>
    <script>
        $(function () {
    var images = document.getElementsByClassName('people-image');
    var delay = 1200; // 延迟时间，单位为毫秒
    
    for (var i = 0; i < images.length; i++) {
        images[i].style.opacity = '0'; // 设置初始透明度为0
    }
    
    for (var i = 0; i < images.length; i++) {
        (function(i) {
            setTimeout(function() {
                images[i].style.display = 'block'; // 先显示图片
                setTimeout(function() {
                    images[i].style.opacity = '1'; // 再将透明度逐渐变为1
                }, 50); // 添加一个小延迟，确保浏览器能够正确应用过渡效果
            }, i * delay);
        })(i);
    }
});

    </script>
</body>
</html>